.dialog {
  text-align: left;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 300;
  padding: 5px;
  background-color: white;
  span {
    margin-bottom: 20px;
  }
  &__close {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 70%;
    img {
      cursor: pointer;
      margin-left: auto;
      border-radius: 10px;
      @include hover {
        scale: 1.2;
        transition: scale 0.5s;
      }
    }
  }

  &__content {
    max-width: 700px;
    min-height: 350px;
    overflow-y: scroll;
    padding: 20px;
    opacity: 2;
  }
}
