.header {
  display: flex;
  justify-content: center;

  &__content {
    max-width: 1020px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-bottom: 2px solid black;
  }
  p {
    margin-bottom: 0;
    margin-right: auto;
    &:last-child {
      margin-bottom: 10px;
    }
  }

  h1 {
    margin: 10px;
  }
  a {
    margin-bottom: 0;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #5d97c7;
      scale: 1.1;
      transition: all 0.5s;
    }
  }
}
