.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__content {
    max-width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }
    &-question {
      width: 100%;

      @include tablet {
        margin-right: 0px;
      }
    }
  }
  .active {
    background-color: #10a5e0a7;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }

  ul {
    list-style: none;
    padding: 0;
    @include fluid-text(24, 16);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobile {
      gap: 10px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @include hover {
      transform: scale(1.05);
      transition: all 0.2s ease;
    }
    @include less-mobile {
      height: 25px;
    }
  }
  &__button {
    height: 70px;
    width: 390px;
    color: white;
    padding-block: 10px;
    background-color: #2c82c9;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
    cursor: pointer;

    @include mobile {
      width: 300px;
      height: 60px;
    }
    @include hover {
      filter: brightness(1.1);
      transition: all 0.5s ease;
    }
  }
}
